/* .buttonsContainer {
    height: 27.9rem;
    gap: 1.3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .buttonsContainer button {
    height: 6.4rem;
    width: 6rem;
    font-size: 3.2rem;
  } */

/* .buttonsContainer button:nth-of-type(4),
  button:nth-of-type(17),
  button:nth-of-type(18) {
    font-size: 2rem;
    text-transform: uppercase;
  } */

.regButton {
  height: 6rem;
  width: 6rem;
  font-size: 3.2rem;
  color: var(--text1-theme1);
  background-color: var(--key-background3-theme1);
  border: unset;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0 var(--key-shadow3-theme1);
}

.redButton {
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
  color: var(--text2-theme1);
  background-color: var(--key-background2-theme1);
  border: unset;
  border-radius: 0.5rem;
  box-shadow: 0.4rem;
  box-shadow: 0 0.4rem 0 var(--key-shadow2-theme1);
}

.blueButtons {
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
  background-color: var(--key-background1-theme1);
  color: var(--text2-theme1);
  border: unset;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0 var(--key-shadow1-theme1);
}

.spanButton {
  
}
