/* Default styles for screens up to 375 x 667 (mobile) */

.regButton {
  height: 6rem;
  width: 6rem;
  font-size: 3.2rem;
  border: unset;
  border-radius: 0.5rem;
  cursor: pointer;
  padding-top:0.8rem;
}

.deleteButton {
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
  border: unset;
  border-radius: 0.5rem;
  cursor: pointer;
  padding-top:0.5rem;
}

.resetButton {
  height: 6rem;
  width: 13.3rem;
  font-size: 2rem;
  border: unset;
  border-radius: 0.5rem;
  cursor: pointer;
  padding-top:0.5rem;
}

.equalButton {
  height: 6rem;
  width: 13.3rem;
  font-size: 2rem;
  border: unset;
  border-radius: 0.5rem;
  box-shadow: 0.4rem;
  cursor: pointer;
  padding-top:0.5rem;
}

/* REGULAR BUTTONS */

.theme1-regButton {
  background-color: var(--key-background-regular-theme1);
  box-shadow: 0 0.4rem 0 var(--key-shadow-regular-theme1);
  color: var(--text1-theme1);
}

.theme1-regButton:hover {
  background-color: var(--key-hover-regular-theme1);
}

.theme2-regButton {
  background-color: var(--key-background-regular-theme2);
  box-shadow: 0 0.4rem 0 var(--key-shadow-regular-theme2);
  color: var(--text1-theme2);
}

.theme2-regButton:hover {
  background-color: var(--key-hover-regular-theme2);
}

.theme3-regButton {
  background-color: var(--key-background-regular-theme3);
  box-shadow: 0 0.4rem 0 var(--key-shadow-regular-theme3);
  color: var(--text1-theme3);
}

.theme3-regButton:hover {
  background-color: var(--key-hover-regular-theme3);
}

/* DELETE BUTTON */

.theme1-deleteButton {
  background-color: var(--key-background-del-and-reset-theme1);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme1);
  color: var(--text2-theme1);
}

.theme1-deleteButton:hover {
  background-color: var(--key-hover-del-and-reset-theme1);
}

.theme2-deleteButton {
  background-color: var(--key-background-del-and-reset-theme2);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme2);
  color: var(--text2-theme2);
}

.theme2-deleteButton:hover {
  background-color: var(--key-hover-del-and-reset-theme2);
}

.theme3-deleteButton {
  background-color: var(--key-background-del-and-reset-theme3);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme3);
  color: var(--text2-theme3);
}

.theme3-deleteButton:hover {
  background-color: var(--key-hover-del-and-reset-theme3);
}

/* RESET BUTTON */

.theme1-resetButton {
  background-color: var(--key-background-del-and-reset-theme1);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme1);
  color: var(--text2-theme1);
}

.theme1-resetButton:hover {
  background-color: var(--key-hover-del-and-reset-theme1);
}

.theme2-resetButton {
  background-color: var(--key-background-del-and-reset-theme2);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme2);
  color: var(--text2-theme2);
}

.theme2-resetButton:hover {
  background-color: var(--key-hover-del-and-reset-theme2);
}

.theme3-resetButton {
  background-color: var(--key-background-del-and-reset-theme3);
  box-shadow: 0 0.4rem 0 var(--key-shadow-del-and-reset-theme3);
  color: var(--text2-theme3);
}

.theme3-resetButton:hover {
  background-color: var(--key-hover-del-and-reset-theme3);
}

/* EQUAL BUTTON */

.theme1-equalButton {
  background-color: var(--key-background-equal-and-toggle-theme1);
  box-shadow: 0 0.4rem 0 var(--key-shadow-equal-theme1);
  color: var(--text2-theme1);
}

.theme1-equalButton:hover {
  background-color: var(--key-hover-equal-and-toggle-theme1);
}

.theme2-equalButton {
  background-color: var(--key-background-equal-and-toggle-theme2);
  box-shadow: 0 0.4rem 0 var(--key-shadow-equal-theme2);
  color: var(--text2-theme2);
}

.theme2-equalButton:hover {
  background-color: var(--key-hover-equal-and-toggle-theme2);
}

.theme3-equalButton {
  background-color: var(--key-background-equal-and-toggle-theme3);
  box-shadow: 0 0.4rem 0 var(--key-shadow-equal-theme3);
  color: var(--text3-theme3);
}

.theme3-equalButton:hover {
  background-color: var(--key-hover-equal-and-toggle-theme3);
}


/* Media query for iPhone 13 Pro (390 x 844 and above) */
@media screen and (min-width: 390px) and (min-height: 844px) {
  body {
    /* Styles for iPhone 13 Pro */
  }
}

/* Media query for iPhone 11 Pro Max (414 x 896 and above) */
@media screen and (min-width: 414px) and (min-height: 896px) {
  body {
    /* Styles for iPhone 11 Pro Max */
  }
}

/* Media query for iPad Air (820 x 1180 and above) */
@media screen and (min-width: 820px) and (min-height: 1180px) {
  body {
    /* Styles for iPad Air */
  }
}

/* Media query for MacBook Pro 14" (1512 x 982 and above) */
@media screen and (min-width: 1512px) and (min-height: 982px) {
  body {
    /* Styles for MacBook Pro 14" */
  }
}
