.keypadContainer {
  width: 32.7rem;
  height: 42rem;
  margin: auto;
  border-radius: 1rem;
  padding: 2.4rem;
}

.buttonsContainer {
  display: grid;
  grid-column-gap: 1.1rem;
  grid-row-gap: 1.7rem;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.buttonsContainer2 {
  margin-top: 17px;
  gap: 1.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.theme1 {
  background-color: var(--background-keypad-theme1);
}

.theme2 {
  background-color: var(--background-keypad-theme2);
}

.theme3 {
  background-color: var(--background-keypad-theme3);
}