/* BASE STYLES FOR ALL SCREENS */

.keypadContainer {
  width: 54rem;
  height: 48rem;
  margin: auto;
  border-radius: 1rem;
  padding: 3.2rem;
  padding-left: 3rem;
}

.buttonsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.4rem;
}

.buttonsContainer2 {
  margin-top: 2.4rem;
  gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.theme1 {
  background-color: var(--background-keypad-theme1);
}

.theme2 {
  background-color: var(--background-keypad-theme2);
}

.theme3 {
  background-color: var(--background-toggle-screen-keypad-theme3);
}

/* MEDIA QUERY FOR IPHONE SE (375 x 667 AND ABOVE) */

@media screen and (max-width: 375px) {
  .keypadContainer {
    width: 32.7rem;
    height: 42rem;
    padding: 2.4rem;
  }

  .buttonsContainer {
    grid-column-gap: 1.3rem;
    grid-row-gap: 1.3rem;
  }

  .buttonsContainer2 {
    margin-top: 1.3rem;
    gap: 1.3rem;
  }
}
