.screenContainer {
  background-color: var(--background-screen-theme1);
  max-width: 32.7rem;
  min-height: 8.8rem;
  margin: auto;
  margin-bottom: 2.4rem;
  text-align: right;
  display: grid;
  border-radius: 1rem;
}

.screenContainer p {
  font-size: 4rem;
  margin: auto 2.4rem;
  color: var(--text1-theme1);
}
