.screenContainer {
  /* background-color: var(--background-screen-theme1); */
  max-width: 32.7rem;
  min-height: 8.8rem;
  margin: auto;
  margin-bottom: 2.4rem;
  text-align: right;
  display: grid;
  border-radius: 1rem;
}

.screen {
  background-color: unset;
  border: unset;
  font-size: 4rem;
  margin: auto 2.4rem;
  /* color: var(--text1-theme1); */
}

.theme1 {
  background-color: var(--background-screen-theme1);
  color: var(--text2-theme1);
}

.theme2 {
  background-color: var(--background-screen-theme2);
  color: var(--text1-theme2);
}

.theme3 {
  background-color: var(--background-toggle-screen-keypad-theme3);
  color: var(--text1-theme3);
}

/* Media query for iPhone 13 Pro (390 x 844 and above) */
@media screen and (min-width: 390px) and (min-height: 844px) {
  body {
    /* Styles for iPhone 13 Pro */
  }
}

/* Media query for iPhone 11 Pro Max (414 x 896 and above) */
@media screen and (min-width: 414px) and (min-height: 896px) {
  body {
    /* Styles for iPhone 11 Pro Max */
  }
}

/* Media query for iPad Air (820 x 1180 and above) */
@media screen and (min-width: 820px) and (min-height: 1180px) {
  body {
    /* Styles for iPad Air */
  }
}

/* Media query for MacBook Pro 14" (1512 x 982 and above) */
@media screen and (min-width: 1512px) and (min-height: 982px) {
  body {
    /* Styles for MacBook Pro 14" */
  }
}
