/* BASE STYLES FOR ALL SCREENS */

.themesContainer {
  height: 4.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: auto;
  margin-bottom: 3.2rem;
}

.themesContainer h1 {
  font-size: 3.2rem;
}

.themes {
  display: grid;
  justify-items: end;
}

.themeContainer {
  display: grid;
  height: 4.2rem;
}

.themeContainer p {
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  padding-top: 2.5rem;
}

.toggleContainer {
  width: 7.1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 4.2rem;
}

.numbersContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 1rem;
}

.numbersContainer p {
  font-size: 1.2rem;
}

.toggle {
  width: 7.1rem;
  height: 2.6rem;
  border-radius: 1.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.toggle input {
  width: 90%;
  opacity: 0;
  cursor: pointer;
  accent-color: black;
}

.toggle input:hover {
  opacity: 0.09;
}

.toggle .ball {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  position: absolute;
  transition: left 0.5s ease;
  cursor: pointer;
}

/* THEME 1 */

.theme1 {
  background-color: var(--background-body-theme1);
  color: var(--text2-theme1);
  .toggle {
    background-color: var(--background-toggle-theme1);
  }
}

.toggle input[type='radio']:first-of-type:checked ~ .ball {
  left: 5.5px;
}

.toggle input[type='radio']:first-of-type:checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme1);
}

.theme1 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme1);
}

/* THEME 2 */

.theme2 {
  background-color: var(--background-body-theme2);
  color: var(--text1-theme2);
  .toggle {
    background-color: var(--background-toggle-theme2);
  }
}

.toggle input[type='radio']:nth-of-type(2):checked ~ .ball {
  left: 27.5px;
}

.toggle input[type='radio']:nth-of-type(2):checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme2);
}

.theme2 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme2);
}

/* THEME 3 */

.theme3 {
  background-color: var(--background-body-theme3);
  color: var(--text1-theme3);
  .toggle {
    background-color: var(--background-toggle-screen-keypad-theme3);
  }
}
.toggle input[type='radio']:last-of-type:checked ~ .ball {
  left: 50px;
}

.toggle input[type='radio']:last-of-type:checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme3);
}

.theme3 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme3);
}

/* MEDIA QUERY FOR IPHONE SE (375 x 667 AND ABOVE) */

@media screen and (min-width: 375px) {
  .themesContainer {
    max-width: 32.7rem;
  }

  .themesContainer h2 {
    font-size: 3.2rem;
  }

  .themeContainer {
    display: grid;
    height: 4.2rem;
    grid-column: 1 / span 1;
  }
  .themes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  
}

/* MEDIA QUERY FOR IPHONE 13 PRO (390 x 844 AND ABOVE) */

@media screen and (min-width: 390px) {
  .themesContainer {
    max-width: 35rem;
  }

  .themesContainer h2 {
    font-size: 4rem;
  }
}

/* MEDIA QUERY FOR IPHONE 11 PRO MAX (414 x 896 AND ABOVE) */

@media screen and (min-width: 414px) {
  .themesContainer {
    max-width: 36rem;
  }

  .themesContainer h2 {
    font-size: 4rem;
  }
}

/* MEDIA QUERY FOR MACBOOK PRO 14" (1512 x 982 AND ABOVE) */

@media screen and (min-width: 1512px) {
  .themesContainer {
    max-width: 54rem;
  }

  .themesContainer h2 {
    font-size: 3.2rem;
  }

  .themes {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .themeContainer {
    grid-column: 2 / span 1;
  }
}
