.themesContainer {
  max-width: 32.7rem;
  height: 4.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3.2rem;
}

.themesContainer h2 {
  font-size: 3.2rem;
}

.themes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
}

.themeContainer {
  display: grid;
  height: 4.2rem;
  grid-template-rows: repeat(2, 1fr);
}

.themeContainer h3 {
  height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  padding-top: 0.7rem;
}

.toggleContainer {
  width: 7.1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 4.2rem;
}

.numbersContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 1rem;
}

.numbersContainer p {
  font-size: 1.2rem;
}

.toggle {
  width: 7.1rem;
  height: 2.6rem;
  border-radius: 1.3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.toggle input {
  width: 90%;
  opacity: 0;
  cursor: pointer;
  accent-color: black;
}

.toggle input:hover {
  opacity: 0.09;
}

.toggle .ball {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  position: absolute;
  transition: left 0.5s ease;
  cursor: pointer;
}

/* THEME 1 */
.theme1 {
  background-color: var(--background-body-theme1);
  color: var(--text2-theme1);
  .toggle {
    background-color: var(--background-toggle-theme1);
  }
}

.toggle input[type='radio']:first-of-type:checked ~ .ball {
  left: 5.5px;
}

.toggle input[type='radio']:first-of-type:checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme1);
}

.theme1 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme1);
}

/* THEME 2 */
.theme2 {
  background-color: var(--background-body-theme2);
  color: var(--text1-theme2);
  .toggle {
    background-color: var(--background-toggle-theme2);
  }
}

.toggle input[type='radio']:nth-of-type(2):checked ~ .ball {
  left: 27.5px;
}

.toggle input[type='radio']:nth-of-type(2):checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme2);
}

.theme2 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme2);
}

/* THEME 3 */

.theme3 {
  background-color: var(--background-body-theme3);
  color: var(--text1-theme3);
  .toggle {
    background-color: var(--background-toggle-screen-keypad-theme3);
  }
}
.toggle input[type='radio']:last-of-type:checked ~ .ball {
  left: 50px;
}

.toggle input[type='radio']:last-of-type:checked ~ .ball:hover {
  background-color: var(--key-hover-equal-and-toggle-theme3);
}

.theme3 .toggle .ball {
  background-color: var(--key-background-equal-and-toggle-theme3);
}

/* Media query for iPhone 13 Pro (390 x 844 and above) */
@media screen and (min-width: 390px) and (min-height: 844px) {
  body {
    /* Styles for iPhone 13 Pro */
  }
}

/* Media query for iPhone 11 Pro Max (414 x 896 and above) */
@media screen and (min-width: 414px) and (min-height: 896px) {
  .themesContainer {
    max-width: 36rem;
  }

  .themesContainer h2 {
    font-size: 4rem;
  }
  
}

/* Media query for iPad Air (820 x 1180 and above) */
@media screen and (min-width: 820px) and (min-height: 1180px) {
  body {
    /* Styles for iPad Air */
  }
}

/* Media query for MacBook Pro 14" (1512 x 982 and above) */
@media screen and (min-width: 1512px) and (min-height: 982px) {
  body {
    /* Styles for MacBook Pro 14" */
  }
}

