.theme1 {
  background-color: var(--background-body-theme1);
}

.theme2 {
  background-color: var(--background-body-theme2);
}

.theme3 {
  background-color: var(--background-body-theme3);
}

#root {
  margin: auto;
}
