:root {
  /* theme 1 */
  --background-body-theme1: hsla(223, 26%, 31%, 1);

  --background-toggle-theme1: hsla(223, 31%, 20%, 1);
  --background-screen-theme1: hsla(224, 36%, 15%, 1);
  --background-keypad-theme1: hsla(224, 30%, 21%, 1);

  --key-background-regular-theme1: hsla(31, 24%, 89%, 1);
  --key-shadow-regular-theme1: hsla(27, 15%, 65%, 1);
  --key-hover-regular-theme1: hsla(31, 100%, 100%, 1);

  --key-background-del-and-reset-theme1: hsla(224, 21%, 49%, 1);
  --key-shadow-del-and-reset-theme1: hsla(225, 28%, 35%, 1);
  --key-hover-del-and-reset-theme1: hsla(224, 51%, 76%, 1);

  --key-background-equal-and-toggle-theme1: hsla(6, 63%, 50%, 1);
  --key-shadow-equal-theme1: hsla(6, 70%, 34%, 1);
  --key-hover-equal-and-toggle-theme1: hsla(6, 93%, 67%, 1);

  --text1-theme1: hsla(221, 14%, 31%, 1);
  --text2-theme1: hsla(0, 0%, 100%, 1);

  /* theme 2 */
  --background-body-theme2: hsla(0, 0%, 90%, 1);

  --background-toggle-theme2: hsla(0, 5%, 81%, 1);
  --background-screen-theme2: hsla(9, 1%, 93%, 1);
  --background-keypad-theme2: hsla(0, 5%, 81%, 1);

  --key-background-regular-theme2: hsla(45, 7%, 89%, 1);
  --key-shadow-regular-theme2: hsla(35, 11%, 61%, 1);
  --key-hover-regular-theme2: hsla(0, 0%, 100%, 1);

  --key-background-del-and-reset-theme2: hsla(184, 42%, 37%, 1);
  --key-shadow-del-and-reset-theme2: hsla(185, 58%, 25%, 1);
  --key-hover-del-and-reset-theme2: hsla(184, 40%, 56%, 1);

  --key-background-equal-and-toggle-theme2: hsla(25, 98%, 40%, 1);
  --key-shadow-equal-theme2: hsla(25, 99%, 27%, 1);
  --key-hover-equal-and-toggle-theme2: hsla(25, 100%, 61%, 1);

  --text1-theme2: hsla(60, 10%, 19%, 1);
  --text2-theme2: hsla(0, 0%, 100%, 1);

  /* theme 3 */
  --background-body-theme3: hsla(267, 74%, 9%, 1);

  --background-toggle-screen-keypad-theme3: hsla(268, 71%, 12%, 1);

  --key-background-regular-theme3: hsla(268, 47%, 21%, 1);
  --key-shadow-regular-theme3: hsla(290, 70%, 36%, 1);
  --key-hover-regular-theme3: hsla(268, 54%, 44%, 1);

  --key-background-del-and-reset-theme3: hsla(280, 90%, 26%, 1);
  --key-shadow-del-and-reset-theme3: hsla(285, 91%, 52%, 1);
  --key-hover-del-and-reset-theme3: hsla(280, 56%, 44%, 1);

  --key-background-equal-and-toggle-theme3: hsla(176, 100%, 44%, 1);
  --key-shadow-equal-theme3: hsla(177, 92%, 70%, 1);
  --key-hover-equal-and-toggle-theme3: hsla(176, 100%, 79%, 1);

  --text1-theme3: hsla(52, 100%, 62%, 1);
  --text2-theme3: hsla(0, 0%, 100%, 1);
  --text3-theme3: hsla(198, 20%, 13%, 1);
}

/* css reset */
html {
  min-height: 100%;
  display: grid;
  align-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit. 12px would be expressed as 1.2rem, 24px would be 2.4rem, and so on.*/
  font-family: 'League Spartan', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
